<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>My Love</title>
	<style type="text/css">
		.exp
		{
			margin: auto;
			float: left;
			font: 25px KaiTi,sans-serif;
		}
	</style>
	<link rel="shortcut icon" href="{% static "./blog/favicon.ico" %}">
</head>
<body>
	<img src="{% static "./blog/ludan.jpg" %}" height="512px" width="384px">
	<div class="exp">
		<p>这个偏僻的角落 没什么人找得到</p>
		<p>相信你也不会找到</p>
		<p>相遇 相识 相知</p>
		<p>你带给我许多欢乐 也让我辗转反侧</p>
		<p>直到遇见你 我才真正懂得 什么是爱</p>
		<p>我不善言辞 只会说一句</p>
		<p><b>Te Amo!</b></p>
		<p>&nbsp;</p>
		<p>For 卤蛋</p>
	</div>
</body>
</html>