{% extends "base.html" %}
  {% load comments %}
  {% load staticfiles %}
  {% block css %}<link rel="stylesheet" href="{% static "./blog/comment.css" %}">{% endblock css %}
  {% block title %}{{ post.title }}{% endblock title %}
  {% block content %}
  <div class="left">
  <h2>{{ post.title }}</h2>
  <p class="timestamp">{{  post.author }}, {{ post.create_date | date:"Y/m/d"}}</p>
  <p class="timestamp">编辑：{{ post.modify_date | date:"Y/m/d H:i"}} </p>

  <p class="context">{{ post.body|safe }}</p>
  <form class="info" method="post">{% csrf_token %} 浏览：{{ post.hit }}  <input type="submit" id="like" name='like' value="赞（{{ post.like }}）"><input type="submit" id="dislike" name='dislike' value="踩（{{ post.dislike }}）"></form>
    <div id="comment">
    <h2>评论：</h2>
    {% render_comment_list for post %}
    <h2>发表评论：</h2>
    {% render_comment_form for post %}
    </div>
  </div>
  {% endblock %}