body
{
	font-family: "Segoe UI","Microsoft YaHei";
	color:#fff;
	background-image: url("bg.jpg");
	padding:0 6%;
	margin:0
}
#postbg
{
	width: 60%;
	float:left;
	padding: 1px 20px 20px 20px;
	background-color: #666;
	opacity: 0.9;
}
#category
{
	width: 29%;
	float:right;
	margin: 0 0 0 1%;
	padding: 1px 20px 20px 20px;
	background-color: #666;
	opacity: 0.9;
}
#footer
{
	width: 95%;
	float:left;
	margin-top: 1em;
	padding: 20px;
	background-color: #666;
	opacity: 0.9;
}
h1, .h1
{
	color: #fff;
	text-decoration: none;
	font: 55px Georgia;
	font-weight: bold;
	font-style: italic;
	padding:15px 20px;
	background:#666;
	opacity: 0.9;
}
h2, .h2
{
	color:#fff;
	padding:0 0 5px 0;
	border-bottom:4px solid #fff;
	margin:1em 0 3px 0;
	text-decoration: none;
}
#admin, .timestamp
{
	float:left;
	font: 15px Segoe UI;
	color:#fff;
	font-style: italic;
	margin:0 30px 0 0;
}
.context
{
	font: 17px Microsoft YaHei;
	border-top:1px dotted #fff;
	margin:2em 0 2em 0;
	padding:0 0 0 0;
}
.category
{
	font: 17px Microsoft YaHei; 
	color: #fff;
}
#musicbox
{
	width: 29%;
	float:right;
	margin: 0 0 0 1%;
	padding: 1px 20px 20px 20px;
	background-color: #666;
	opacity: 0.9;
}